/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

.dark #footer .menu-link {
	padding: 0 6px !important;
	font-size: 12px;
}

.white-text {
	color: #F7F7F7;
}


